* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(media/bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 1em;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
}

.imglogo {
    width: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.foguete {
    width: 120px;
    cursor: pointer;
    transition: 0.2s;
}

.foguete:hover{
    transform: scale(1.2);
}