* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: url(media/bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    text-shadow: 0 0 5px #FFFFFF;
    font-weight: 500;
}

header {
    font-size: 1.2rem;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;    
}

.imglogo {
    width: 3em;
}

main {    
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #000000;
    text-shadow: 0 0 10px #FFFFFF;
}

.foguete {
    width: 120px;
    cursor: pointer;
    transition: 0.2s;
}

.foguete:hover {
    transform: scale(1.2);
}

.info {
    width: 50%;
    text-align: center;
    font-size: 2rem;    
}

h2 {
    font-size: 2rem;
}

.showup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.btns {    
    display: flex;
    gap: 20px;
}

.button {
    padding: 0.5em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.button:hover {
    transform: translateY(-6px);
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}

.apodImg {
    width:20%;    
    display: none;
}

.apodVideo {
    display: none;
    border: none;
    border-radius: 8px;
}

.description {
    text-align: center;
    width: 50%;
    /* color: #000000;
    text-shadow: 0 0 10px #FFFFFF; */
}

.copyright{
    display: none;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.link {
    width: 2em;
}
  